;; shadow-cljs configuration
{:source-paths
 ["src"]

 ;:dev-http {8080 "public"}

 :dev-http {8080 "public"}

 :dependencies
 [[reagent "1.1.0"]]

 :builds
 {:web      {:target :browser
             :modules {:main {:init-fn web/init}}

             :js-options
             {:resolve {"react-native" {:target :npm
                                        :require "react-native-web"}}}}
  :stories  {:target      :npm-module
             :output-dir  "public/js/stories"
             :entries     [stories.header]
             :js-options
             {:resolve {"react-native" {:target :npm
                                        :require "react-native-web"}}}}
  :mobile   {:target :react-native
             :init-fn mobile/init
             :output-dir "react-native/app"
             :js-options {:js-package-dirs ["react-native/node_modules"]}}}}

